* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.container {
    width: 100%;
    max-width: 480px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-top: 40px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f57c00;
    padding: 15px;
    text-align: center;
    margin-bottom: 120px;
}

.header > p {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    display: none;
}

.form {
    padding: 40px;
}

.form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form p {
    text-align: center;
    margin-bottom: 50px;
    color: #555;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #f0eeee;
    color: #555;
    margin-bottom: 10px;
}

.form-group a {
    display: block;
    text-align: left;
    color: black;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 30px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #f57c00;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #e06a00;
}

.divider {
    text-align: center;
    margin: 20px 0;
    color: #555;
}

.google-login {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.google-login img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.footer {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 70px;
    font-size: 14px;
    color: #555;
}

.footer a {
    color: #f57c00;
    text-decoration: none;
}

.footer img {
    width: 250px;
}

@media (max-width: 768px) {
    .container {
        margin: 10px;
    }
}