* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 80%;
    margin-top: 20px;
}

.box {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    max-width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f57c00;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
}

.header > p {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.form {
    padding: 20px;
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #f0eeee;
    color: #555;
}

.form-group input[type="checkbox"] {
    width: auto;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #f57c00;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group button:hover {
    background-color: #e06a00;
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.footer img {
    width: 250px;
}

.footer p {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 10px;
    }

    .box {
        max-width: 100%;
    }
}
