/* Reset e Configurações Globais */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}


.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f57c00;
    color: #fff;
    padding: 10px 20px;
}

.header > p {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

section {
    margin: 20px auto;
    max-width: 1200px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}


h2 {
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}


.consulta, .historico {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr 1fr; /* Define 5 colunas */
    gap: 10px; /* Espaçamento entre as colunas */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    justify-content: center;
    border-radius: 10px;
    margin: 10px 0;;
    padding: 15px 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 1160px;
    
}

.consulta p, .historico p {
    margin: 0; /* Remove espaçamento extra */
}


button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancelar-btn {
    background-color: #d9534f;
    color: white;
}

.cancelar-btn:hover {
    background-color: #c9302c;
}

.ver-prontuario {
    background-color: #f0ad4e;
    color: white;
}

.ver-prontuario:hover {
    background-color: #ec971f;
}


.footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
    font-size: 14px;
    color: #555;
}